.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem;
}

.pagination-info {
  font-size: 1rem;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}